@import '../../App.css';

* {
  font-family: 'Roboto', sans-serif;
}

.divName h3, .divPriority h3, .divDescription h3 {
  font-size: 25px;
}

label {
  font-size: 20px;
}

.boxDetails, .contentBox, .fieldsetClass, .divName, .divPriority, .divDescription, .fieldsetButton,
.divName h3, .divPriority h3, .divDescription h3,
.divName input, .divPriority input, .divDescription input, 
.divPriority label,
h1, h3, form {
  background-color: var(--Secondary-background);
}

.boxDetails {
  position: absolute;
  
  top: 50%;
  left: 50%;
  
  margin-right: -50%;
  transform: translate(-50%, -50%);

  width: 600px;
  height: 500px;

  border-radius: 20px;

  padding: 30px;

  justify-content: center;
  align-items: center;
}

.contentBox {
  display: flex;

  width: 540px;
  height: 440px;

  padding: 15px 0;

  flex-direction: column;

  justify-content: space-between;

  flex-direction: column;
  align-items: center;
}

fieldset {
  border: none;
}


.fieldsetClass {
	display: flex;

  flex-direction: column;   
  text-align: center;
	justify-content: space-between;
}

.divName, .divDescription {
  display: flex;

  flex-direction: row;
  
  justify-content: space-between;
}

.divName input[type='text'], .divDescription input[type='text'] {
  width: 250px;
  height: 30px;

  border-radius: 20px;

  margin-top: 18px;
  padding-left: 5px;


  background-color: var(--Tertiary-background);
}

.divPriority {
  display: flex;

  margin-top: 10px;
  padding: 15px 0;

  flex-direction: row;
  justify-content: space-between;
}

.priorityList {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.priorityList input {
  display: none;
}

.divPriority input + label:before {
  display: inline-block;

  content: '';

  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid var(--Primary-color);

  text-align: left;

  margin: 0 50px 5px;
  padding: 2px;

  vertical-align: middle; 

  background-color: var(--Tertiary-background);
}

.divPriority input:checked + label:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;

  border: 2px solid var(--Primary-color);

  text-align: left;

  margin: 0 50px 5px;
  padding: 2px;
}

.buttons {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

/*

.box
	.contentBox
		h1
		.fieldsetClass
			.divName
				label
				input
			.divPriority
				#highPriority
				#mediumPriority
				#lowPriority
				#noPriority
			.divDescription
				label
				input
		.fieldsetButton
		
*/