@import '../App.css';

* {
  background-color: var(--Primary-background);
  color: var(--Primary-color);

  font-family: Roboto;
}

/*  LOADING  */
.contentLoading {
  margin: 0px;
}

.contentIcon {
  display: flex;

  flex-direction: row;
  justify-content: center;      /*  centraliza vertical    */
  align-items: center;          /*  centraliza horizontal  */
}

.icon {
  position: absolute;

  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}

/*  BODY  */
.contentBody {
  margin-top: 80px;
  margin-left: 5%;

  height: 80%;
  width: 90%;
  
}

