:root{
  /*  Dark  */
  --Primary-background: rgba(18, 18, 18, 1);
  --Secondary-background: rgba(43, 43, 43, 1);
  --Tertiary-background: rgba(69, 69, 69, 1);
  --Quaternary-background: rgba(94, 94, 94, 1);


  /*  White  */
  --Primary-color: rgba(255, 255, 255, 1);
}