:root{
  /*  Blue  */
  --Low-Priority: rgba(77, 90, 227, 1);

  /*  Dark  */
  --Primary-background: rgba(18, 18, 18, 1);
  --Secondary-background: rgba(43, 43, 43, 1);
  --Tertiary-background: rgba(69, 69, 69, 1);
  --Quaternary-background: rgba(71, 74, 77, 1);

  /*  Green  */
  --Primary-Green-button:rgba(0, 255, 72, 1);
  --Secondary-Green-button: rgba(0, 255, 72, 0.5);

  /*  Grey  */
  --Primary-button: rgba(94, 94, 94, 1);
  --Secondary-button: rgba(171, 171, 171, 1);
  --Tertiary-button: rgba(222, 222, 222, 1);

  /*  Red  */
  --Primary-Red-button: rgba(255, 25, 25, 1);
  --Secondary-Red-button: rgba(255, 0, 0, 0.5);
  --High-Priority: rgba(255, 0, 0, 1);

  /*  White  */
  --Primary-color: rgba(255, 255, 255, 1);
  --No-Priority: rgba(255, 255, 255, 1);

  /*  Yellow  */
  --Primary-Yellow-button:rgba(255, 255, 0, 1);
  --Secondary-Yellow-button: rgba(255, 255, 0, 0.4);
  --Medium-Priority: rgba(224, 194, 83, 1)

}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  /*  Fonte  */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}